.box1 {
  height: 300px;
  width: 300px;
  background-color: #123456;
  padding: 30px;
  margin: 30px;
}

.box2 {
  height: 100px;
  width: 100px;
  background-color: blue;
  border: solid 5px yellow;
}